/* fixed social*/
#fixed-social {
    position: fixed;
    top: 130px;
    z-index: 1;
    
 }
 
 #fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
 }
 #fixed-social a:hover>span{
     visibility: visible;
   left: 41px;
   opacity: 1;
 } 
 #fixed-social a span {
     line-height: 40px;
     left: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 1;
     opacity: 0;
 }
  .fixed-facebook{
      background-color: #859ae0;
  }
  .fixed-facebook span{
     background-color: #233a86;
  }
  .fixed-twitter{
     background-color: #4087a3;
 
  }
  .fixed-twitter span{
      background-color: #00acee;
  }
  .fixed-yt{
     background-color: #282828;
 
  }
  .fixed-yt span{
      background-color: #FF0000;
  }
  .fixed-linkedin{
     background-color: rgb(7, 5, 5);
 
  }
  .fixed-linkedin span{
      background-color: #405DE6;
  }
  .fixed-instagrem{
     background-color: #F56040;
 
  }
  .fixed-instagrem span{
      background-color: rgb(225, 142, 48);
  }
 /*end fixed social*/


 .modal.and.carousel {
    position: fixed; 
  }

  